.bgPic{
    width: 100%;
    height: 662px;
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.box{
    color: white;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
input:focus{
    outline: none;
}
.validate{
    background-color: rgba(0, 0, 0, 0.501);
}
.title{
    margin: 10px 0;
}
@media screen and (max-width: 991px) {
    .bgPic{
        width: 100%;
        height: 667px;
        background-image: url(../img/bgMobile.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .box{
        color: white;
        width: 75%;
        height: 50%;
        margin: 0 auto !important;
    }
    .validate{
        display: none;
    }
    .title{
        text-align: center;
        margin: 20px 0;
    }
    #txtEmailId,#txtPswdId{
        width: 100% !important;
    }
}